@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1a1a1a;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 50px;
    box-sizing: border-box;
    margin-top: 80px;
}

.title {
    color: #E0E3E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #010314;
    border: none;
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    border-radius: 15px;
    border: 2px solid #2A2B3A;
    color: #E0E3E6;
}

input:focus {
    outline: none;
    border: #E0E3E6 2px solid;
}

input::placeholder {
    color: #E0E3E6;
    text-transform: none;
}

textarea::placeholder {
    color: #E0E3E6;
    font-size: 15px;
    text-transform: none;
}

textarea {
    background-color: #010314;
    border: none;
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    border-radius: 15px;
    border: 2px solid #2A2B3A;
    color: #E0E3E6;
    font-size: 18px;
    resize: vertical;
    min-height: 90px;
    max-height: 500px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

textarea:focus {
    outline: none;
    border: #E0E3E6 2px solid;
}

.label {
    color : #E0E3E6;
    font-size: 14px;
    margin-bottom: 5px;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    --btn-default-bg: #010314;
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #2294ff;
    --default-btn-color: #fff;
    --font-size: 16px;
    --font-weight: 600;
    --font-family: Menlo, Roboto Mono, monospace;
}

.btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    border-radius: 15px;
    border: 2px solid #2A2B3A;
}

.btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
}

.btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
}

.btn:hover,
.btn:focus {
    background: var(--btn-default-bg);
    box-shadow: 0px 0px 10px 0px #2294ff;
    border: 2px solid #2294ff;
    ;
}

.btn:hover span,
.btn:focus span {
    color: var(--hover-btn-color);
}

.btn:hover span::before,
.btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}

.foot {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dddddd;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 50px;

}

@keyframes chitchat {
    0% {
        content: "#";
    }

    5% {
        content: ".";
    }

    10% {
        content: "^{";
    }

    15% {
        content: "-!";
    }

    20% {
        content: "#$_";
    }

    25% {
        content: "№:0";
    }

    30% {
        content: "#{+.";
    }

    35% {
        content: "@}-?";
    }

    40% {
        content: "?{4@%";
    }

    45% {
        content: "=.,^!";
    }

    50% {
        content: "?2@%";
    }

    55% {
        content: "\;1}]";
    }

    60% {
        content: "?{%:%";
        right: 0;
    }

    65% {
        content: "|{f[4";
        right: 0;
    }

    70% {
        content: "{4%0%";
        right: 0;
    }

    75% {
        content: "'1_0<";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    85% {
        content: "]>'";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    95% {
        content: "2";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}

.key-input {
    text-transform: uppercase;
}

@media (max-width: 440px) {

    .container {
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


}
